<%= page_title t('team.title') %>

<h1 class="govuk-heading-xl"><%= t('team.heading') %></h1>

<% if @teams.present? %>
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col" colspan="2"><%=t('team.name')%></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @teams.reverse.each do |team| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row"><%= team.name %></td>
          <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">
          <%= link_to t('users.invite.button'), invite_to_team_path(team.id), class: 'govuk-button govuk-button--secondary'%>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
<% end %>

<%= link_to t('team.add_team'), new_team_path, class: "govuk-button", role:"button", draggable:"false" %>

