<%= page_title t('team.new.title') %>

<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
    <h1 class="govuk-fieldset__heading"><%=t('team.new.heading') %></h1>
  </legend>

  <%= error_summary_for(@team&.errors, :team) %>
  <%= form_for @team,  url:  teams_path, as: :team do |f| %>
    <div class="govuk-form-group <%= 'govuk-form-group--error' if @team.errors.key?(:name) %>">
      <h3 class="govuk-heading-m"><%=t('team.new.team_name_field')%></h3>
      <%= error_message_on(f.object.errors, :name) %>
      <%= f.text_field :name, class: 'govuk-input' %>
    </div>

    <div class="govuk-form-group <%= 'govuk-form-group--error' if @team.errors.key?(:team_type) %>">
      <h3 class="govuk-heading-m"><%= t('team.new.team_type_field') %></h3>
      <%= error_message_on(f.object.errors, :team_type) %>
      <%= f.select(:team_type, options_for_select(['rp', 'idp', 'other']), {include_blank: 'Select'}, {class: 'govuk-select'}) %>
    </div>

    <div class="govuk-form-group">
      <%= f.submit t('team.new.create_team'), class: "govuk-button" %>
    </div>
  <% end %>
</fieldset>
