<h1 class="govuk-heading-xl">Services</h1>

<% if @services.present? %>
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col"><%= t 'certificates.header_name' %></th>
        <th class="govuk-table__header" scope="col"><%= t 'components.entity_id' %></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @services.reverse do |service| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row"><%= service.name %></td>
          <td class="govuk-table__cell"><%= service.entity_id %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to t('services.add_new'), new_service_path, class: "govuk-button", data: { module: "govuk-button" }, role:"button", draggable:"false" %>
