<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
    <h1 class="govuk-fieldset__heading">Upload your certificate</h1>
  </legend>


<%= form_with(model: [ @component, @component.certificates.build ], local: true) do |f| %>
<div class="govuk-form-group">
  <h3 class="govuk-heading-m">Certificate usage</h3>
  <div class="govuk-radios govuk-radios--inline">
    <div class="govuk-radios__item ">
      <%= f.radio_button :usage, 'signing', class: 'govuk-radios__input'  %>
      <%= f.label :usage, 'Signing', class: 'govuk-label govuk-radios__label' %>
    </div>
    <div class="govuk-radios__item">
      <%= f.radio_button :usage, 'encryption', class: 'govuk-radios__input'  %>
      <%= f.label :usage, 'Encryption', class: 'govuk-label govuk-radios__label' %>
    </div>
  </div>
</div>
<div class="govuk-form-group">
  <h3 class="govuk-heading-m">Certificate value</h3>
  <%= f.text_area :value, placeholder: 'Paste your certificate here', class: "govuk-textarea", rows: "6" %>
  <%= f.submit "Upload", class: "govuk-button" %>
</div>
<% end %>
</fieldset>
