<% if @sp_components.present? %>
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-heading-l"><%= t('components.component_heading', type: COMPONENT_TYPE::SP_SHORT) %></caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col"><%= t 'components.name' %></th>
        <th class="govuk-table__header" scope="col"><%= t 'events.type' %></th>
        <th class="govuk-table__header" scope="col"><%= t 'components.team' %></th>
        <th class="govuk-table__header" scope="col"></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @sp_components.reverse.each do |component| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row"><%= component.name %></td>
          <td class="govuk-table__cell">
            <%= component.view_component_type(component.vsp) %>
          </td>
          <td class="govuk-table__cell" scope="row"><%= component.team&.name %></td>
          <td class="govuk-table__cell">
            <%= link_to t('components.view_link'), sp_component_path(component), class: 'govuk-button' %>
            <%= link_to t('team.associate_team'), edit_sp_component_path(component), class: 'govuk-button' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to t('components.create_new_component', type: COMPONENT_TYPE::SP_SHORT), new_sp_component_path, class: "govuk-button", data: { module: "govuk-button" }, role:"button", draggable:"false" %>
