<%= page_title t('admin.title') %>

<h1 class="govuk-heading-l"><%= t('admin.title') %></h1>

<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Admin
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#SpComponent">
        SP's
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#MsaComponent">
        MSA's
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#services">
        Services
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#rp_teams">
        RP Teams
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#idp_teams">
        IDP Teams
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#certificates">
        Certificates
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#events">
        Events
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#publish">
        Publish
      </a>
    </li>
  </ul>

  <section class="govuk-tabs__panel" id="SpComponent">
    <h2 class="govuk-heading-l">Service Provider components</h2>
    <%= render "admin/sp_component", components: @sp_components %>
  </section>

  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="MsaComponent">
    <h2 class="govuk-heading-l">Matching Service Adapater components</h2>
    <%= render "admin/msa_component", components: @msa_components %>
  </section>

  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="services">
    <h2 class="govuk-heading-l">Services</h2>
    <%= render "admin/service", services: @services %>
  </section>

  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="rp_teams">
    <h2 class="govuk-heading-l">Relying Party Teams</h2>
     <%= render "admin/team", teams: @relying_parties %>
  </section>

  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="idp_teams">
    <h2 class="govuk-heading-l">Identity Provider Teams</h2>
     <%= render "admin/team", teams: @identity_providers %>
  </section>

  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="certificates">
    <h2 class="govuk-heading-l">Certificates</h2>
    <%= render "admin/certificate", certificates: @certificates %>
  </section>

  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="events">
    <h2 class="govuk-heading-l">Events</h2>
    <%= link_to t('layout.application.events'), admin_events_path %>
  </section>

  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="publish">
    <h2 class="govuk-heading-l">Publish metadata</h2>
    <%= render "admin/publish" %>
  </section>
</div>