<h1 class="govuk-heading-l"><%= t 'password.reset_password_heading' %></h1>

<%= form_for @form, url: reset_password_path do |f| %>
  <fieldset class="govuk-fieldset" aria-describedby="changed-password-hint">
    <span id="changed-password-hint" class="govuk-hint">
      <%= t 'password.reset_password_legend' %>
    </span>
    <% if session[:email].nil? %>
      <div class="govuk-form-group">
        <%= f.label :email, class: "govuk-label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "govuk-input govuk-input--width-20" %>
      </div>
    <% end %>
    <div class="govuk-form-group">
      <%= f.label :code, class: "govuk-label" %>
      <%= f.text_field :code, class: "govuk-input govuk-input--width-10" %>
    </div>
    <div class="govuk-form-group">
      <%= f.label :password, t('password.new_password_lbl'), class: "govuk-label" %>
      <%= f.password_field :password, class: "govuk-input govuk-input--width-20" %>
    </div>
    <div class="govuk-form-group">
      <%= f.label :password_confirmation, t('password.confirm_password_lbl'), class: "govuk-label" %>
      <%= f.password_field :password_confirmation, class: "govuk-input govuk-input--width-20" %>
    </div>
  </fieldset>
  <%= f.submit t('password.change_password_btn'), class: "govuk-button", data: { module: "govuk-button" } %>
<% end %>