<%= page_title t('password.title_change') %>

<%= link_to t('common.back'), profile_path, class: 'govuk-back-link' %>

<h1 class="govuk-heading-l"><%= t 'password.change_password_heading' %></h1>

<%= error_summary_for(@password_form.errors, :change_password_form) %>
<%= form_for @password_form, url: profile_change_password_path do |f| %>
  <fieldset class="govuk-fieldset" aria-describedby="changed-password-hint">
    <div class="govuk-form-group <%= 'govuk-form-group--error' if @password_form.errors.key?(:old_password) %>">
      <%= error_message_on(f.object.errors, :old_password) %>
      <%= f.label :old_password, t('password.current_password_lbl'), class: "govuk-label" %>
      <%= f.password_field :old_password, autofocus: true, class: "govuk-input govuk-input--width-20 #{@password_form.errors.key?(:old_password) ? 'govuk-input--error' : ''}" %>
    </div>

    <div class="govuk-form-group <%= 'govuk-form-group--error' if @password_form.errors.key?(:password) %>">
      <%= error_message_on(f.object.errors, :password) %>
      <%= f.label :password, t('password.new_password_lbl'), class: "govuk-label" %>
      <%= f.password_field :password, class: "govuk-input govuk-input--width-20 #{@password_form.errors.key?(:password) ? 'govuk-input--error' : ''}" %>
    </div>

    <div class="govuk-form-group <%= 'govuk-form-group--error' if @password_form.errors.key?(:password_confirmation) %>">
      <%= error_message_on(f.object.errors, :password_confirmation) %>
      <%= f.label :password_confirmation, t('password.confirm_password_lbl'), class: "govuk-label" %>
      <%= f.password_field :password_confirmation, class: "govuk-input govuk-input--width-20 #{@password_form.errors.key?(:password_confirmation) ? 'govuk-input--error' : ''}" %>
    </div>
  </fieldset>
  <%= f.submit t('password.change_password_btn'), class: "govuk-button", data: { module: "govuk-button" } %>
<% end %>
