<%= page_title t('password.title_change') %>

<%= link_to t('common.back'), profile_path, class: 'govuk-back-link' %>

<h1 class="govuk-heading-l"><%= t 'password.change_password_heading' %></h1>

<%=error_summary_for(@password_form&.errors, :form) %>
<%= form_for @password_form, url: profile_change_password_path, as: :form do |f| %>
  <fieldset class="govuk-fieldset" aria-describedby="changed-password-hint">
    <div class="govuk-form-group <%= 'govuk-form-group--error' if @password_form.errors.key?(:old_password) %>">
      <h3 class="govuk-heading-m"><%= f.label :old_password, t('password.old_password_lbl'), class: "govuk-label" %></h3>
      <%= error_message_on(f.object.errors, :old_password) %>
      <%= f.password_field :old_password, autofocus: true, class: "govuk-input govuk-input--width-20" %>
    </div>

    <div class="govuk-form-group <%= 'govuk-form-group--error' if @password_form.errors.key?(:password) %>">
      <h3 class="govuk-heading-m"><%= f.label :password, t('password.new_password_lbl'), class: "govuk-label" %></h3>
      <%= error_message_on(f.object.errors, :password) %>
      <%= f.password_field :password, class: "govuk-input govuk-input--width-20" %>
    </div>

    <div class="govuk-form-group <%= 'govuk-form-group--error' if @password_form.errors.key?(:password_confirmation) %>">
      <h3 class="govuk-heading-m"><%= f.label :password_confirmation, t('password.confirm_password_lbl'), class: "govuk-label" %></h3>
      <%= error_message_on(f.object.errors, :password_confirmation) %>
      <%= f.password_field :password_confirmation, class: "govuk-input govuk-input--width-20" %>
    </div>
  </fieldset>
  <%= f.submit t('password.change_password_btn'), class: "govuk-button", data: { module: "govuk-button" } %>
<% end %>
