<table class="govuk-table">
  <caption class="govuk-table__caption govuk-heading-m"><%=heading%></caption>
  <thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th class="govuk-table__header" scope="col">Last updated</th>
    <th class="govuk-table__header" scope="col">ID</th>
    <th class="govuk-table__header" scope="col">Usage</th>
    <th class="govuk-table__header" scope="col">Enabled</th>
    <th class="govuk-table__header" scope="col"></th>
  </tr>
  </thead>
  <tbody class="govuk-table__body">
   <% certificates.each do |certificate| %>
      <tr class="govuk-table__row" id="certificate_table_<%= certificate.id %>">
        <th class="govuk-table__header" scope="row"><%= format_date_time(certificate.updated_at) %></th>
        <td class="govuk-table__cell"><%= certificate.id %></td>
        <td class="govuk-table__cell"><%= certificate.usage %></td>
        <td class="govuk-table__cell"><%= certificate.enabled %></td>
        <td class="govuk-table__cell">
        <% unless certificate.encryption? %>
            <%= form_for [@component, certificate],
              url: certificate.enabled ?
                polymorphic_url(
                  [:disable, @component, certificate],
                  component: @component,
                  certificate: certificate
                ) :
                polymorphic_url(
                  [:enable, @component, certificate],
                  component: @component,
                  certificate: certificate
                ) do |f| %>
                  <%= f.submit certificate.enabled ? 'Disable': 'Enable', class: 'govuk-button', data: { module: "govuk-button" } %>
            <% end %>
        <% end %>
        </td>
      </tr>
    <%end %>
  </tbody>
</table>
