<%= page_title t('users.title') %>

<% if @gds && params['team_id'].nil? %>

  <h2 class="govuk-heading-m"><%= t 'team.heading' %>
    <%= link_to t('users.download_csv_list', team_type: TEAMS::ALL.upcase), 
        emails_csv_path(format: :csv, :team => TEAMS::ALL), 
        class: 'govuk-button download_csv', data: { module: 'govuk-button' } %>
  </h2><br>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">  

  <h2 class="govuk-heading-m"><%= t 'team.relying_parties' %>
    <%= link_to t('users.download_csv_list', team_type: TEAMS::RP.upcase), 
        emails_csv_path(format: :csv, :team => TEAMS::RP), 
        class: 'govuk-button download_csv', data: { module: 'govuk-button' } %>
  </h2>
  <ul class="govuk-list">
    <% @rps&.reverse&.each do |team| %>
      <li>
        <%= link_to team.name, admin_users_path(team.id) %>
      </li>
    <% end %>
  </ul>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <h2 class="govuk-heading-m"><%= t 'team.identity_providers' %>
    <%= link_to t('users.download_csv_list', team_type: TEAMS::IDP.upcase), 
        emails_csv_path(format: :csv, :team => TEAMS::IDP), 
        class: 'govuk-button download_csv', data: { module: 'govuk-button' } %>
  </h2>
  <ul class="govuk-list">
    <% @idps&.reverse&.each do |team| %>
      <li>
        <%= link_to team.name, admin_users_path(team.id) %>
      </li>
    <% end %>
  </ul>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <h2 class="govuk-heading-m"><%= t 'team.other' %></h2>
  <ul class="govuk-list">
    <% @other&.reverse&.each do |team| %>
      <li>
        <% if team.name == TEAMS::GDS %>
          <%= link_to team.name.upcase, admin_users_path(team.id) %>
          <strong class="govuk-tag">
            <%= t 'users.admin_team' %>
          </strong>
        <% else %>
          <%= link_to team.name, admin_users_path(team.id) %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<% else %>
  <% if @gds %>
    <%= link_to t('common.back'), users_path, class: 'govuk-back-link' %>
  <% end %>
  <h1 class="govuk-heading-l"><%= t 'users.title_for_team' %> <%= @team.name == TEAMS::GDS ? TEAMS::GDS.upcase : @team.name %></h1>
  <table class="govuk-table">
    <thead class="govuk-table__head govuk-visually-hidden">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col"><%= t 'users.user_details' %></th>
        <th class="govuk-table__header" scope="col"><%= t 'users.change_details' %></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body app-table__body--noheading">
      <% @team_members.each do |member| %>
        <tr class="govuk-table__row" id="<%= member.user_id %>">
          <td class="govuk-table__cell">
            <h3 class="govuk-heading-s">
              <%= member.full_name %>
              <span class="govuk-hint email-wrapper"><%= @user.email == member.email ? t('users.you') : member.email %></span>
            </h3>
            <% unless member.gds? %>
              <% unless idp_team_user? %>
                <span class="tick-cross-<%= member.cert_manager? ? 'tick' : 'cross' %>">
                  <span class="govuk-visually-hidden"><%= member.cert_manager? ? t('users.permissions.can') : t('users.permissions.cannot') %></span>
                  <%= t 'users.roles.certmgr' %>
                </span><br>
              <% end %>
              <span class="tick-cross-<%= member.user_manager? ? 'tick' : 'cross' %>">
                <span class="govuk-visually-hidden"><%= member.user_manager? ? t('users.permissions.can') : t('users.permissions.cannot') %></span>
                <%= t 'users.roles.usermgr' %>
              </span>
            <%end%>
          </td>
          <td class="govuk-table__cell">
            <div class="align-member-status-right">
              <% if @user.email != member.email %>
                  <%= link_to t('users.change_details'), update_user_path(member.user_id) %>
                <% if @gds || (member.user_status?('FORCE_CHANGE_PASSWORD') || member.user_status?('RESET_REQUIRED')) %>
                  <p><%= t("users.status.#{member.status}") unless member.status == "CONFIRMED" %></p>
                <% end %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "#{t('users.invite.button')}", invite_to_team_path(@team.id), class: 'govuk-button'%>
<% end %>
