<%=begin %>
<div class="govuk-grid-row">
   <div class="govuk-grid-column-one-half">
     <%= form_for @form, url: update_email_verification_code_post_path, class: 'govuk-form-group' do |f| %>
         <div class="govuk-form-group">
           <%= f.label :totp_code, class: "govuk-label" %>
           <%= f.text_field :totp_code, autofocus: true, autocomplete: 'off', class: "govuk-input govuk-input--width-10" %>
         </div>

        <%= link_to 'Submit', class: "govuk-button", data: { module: "govuk-button" }  %>

       <% end %>
   </div>
</div>
<%=end %>

<h1> hello </h1>
