<%= page_title t('users.show.title', user: @team_member.full_name) %>

<%= link_to t('common.back'), users_path, class: 'govuk-back-link' %>

<h1 class="govuk-heading-xl"><%= @team_member.full_name %></h1>

<%= form_for @form, url: update_user_post_path, class: 'govuk-form-group' do |f| %>

  <% if @gds || (@team_member.user_status?('FORCE_CHANGE_PASSWORD') || @team_member.user_status?('RESET_REQUIRED')) %>
    <p class="govuk-body">
      <%= t('users.status_label') %> <%= t("users.status.#{@team_member.status}") %> - <% if @team_member.user_status?('FORCE_CHANGE_PASSWORD') %>
        <%= link_to t('users.update.resend_invitation.link'), resend_invitation_path, class: 'govuk-link'%>
      <% end %>
    </p>
  <% end %>

  <p class="govuk-body">
    <%= @team_member.email %><%= link_to t("users.show.change_email"), update_user_email_address_path, class: 'govuk-!-padding-left-1 govuk-link--no-visited-state' %>
  </p>

  <ul class="govuk-list">
    <li>
      <a href="#" class="govuk-link--no-visited-state">Reset password</a>
    </li>
    <li>
      <a href="#" class="govuk-link--no-visited-state">Reset multi-factor authentication</a>
    </li>
  </ul>

  <% unless @team_member.gds? %>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend">
          <%= t('users.permissions.legend') %>
        </legend>
        <span id="new-team-member-hint" class="govuk-hint">
        <%= t('users.show.select_one') %>
        </span>
        <div class="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <%= f.check_box(:roles, { class: 'govuk-checkboxes__input', multiple: true }, ROLE::CERTIFICATE_MANAGER, nil) %>
            <%= f.label :roles, t("users.roles.#{ROLE::CERTIFICATE_MANAGER}"), class: 'govuk-label govuk-checkboxes__label' %>
          </div>
          <div class="govuk-checkboxes__item">
            <%= f.check_box(:roles, { class: 'govuk-checkboxes__input', multiple: true }, ROLE::USER_MANAGER, nil) %>
            <%= f.label :roles, t("users.roles.#{ROLE::USER_MANAGER}"), class: 'govuk-label govuk-checkboxes__label' %>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="actions">
      <%= f.submit t('users.update.button'), class: "govuk-button", data: { module: "govuk-button" } %>
    </div>
  <% end %>
<% end %>
