<%= page_title t('users.reset_user_password.title') %>

<%= link_to t('common.back'), users_path, class: 'govuk-back-link' %>

<h1 class="govuk-heading-l"><%= t('users.reset_user_password.heading', name: @user.full_name) %></h1>

<p><%= t('users.reset_user_password.description', name: @user.full_name ) %></p>

<%= link_to t('users.reset_user_password.confirm'), reset_user_password_path, method: :post, class: 'govuk-button govuk-button--warning', data: { module: "govuk-button" } %>

