<% if components.present? %>
  <% components.reverse.each do |component| %>
    <table class="govuk-table">
      <h2 class="govuk-heading-m"><%= component.environment.capitalize %></h2>
      <caption class="govuk-table__caption govuk-!-margin-bottom-1">
        <%= component.component_type == COMPONENT_TYPE::MSA ? t('user_journey.msa_long') : t('user_journey.vsp_long') %> 
        <span class="component-supporting-text">
          <%= t 'user_journey.used_by' %>
        </span>
      </caption>
      <thead class="govuk-table__head govuk-visually-hidden">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col"><%= t 'user_journey.certificate' %></th>
          <th class="govuk-table__header" scope="col"><%= t 'user_journey.status' %></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body app-table__body--noheading">   
        <% if component.certificates.present? %>       
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><%= link_to t('user_journey.encryption_certificate'), view_certificate_path(component.component_type, component.id, component.encryption_certificate_id) %></td>
            <td class="govuk-table__cell">
            <% if certificate_expiry(component.encryption_certificate.x509) %>
              <div class="app-certificate-tag app-certificate-tag-expiring">
                <strong class="govuk-tag"><%= t('user_journey.expiry', days: certificate_expiry(component.encryption_certificate.x509)) %></strong>
              </div>
            <% else %>
              <div class="app-certificate-tag">
                <strong class="govuk-tag"><%= component.encryption_certificate_id.nil? ? t('user_journey.missing') : t('user_journey.in_use') %></strong>
              </div>
            <% end %>
            </td>
          </tr>
        <% end %>
        <% component.signing_certificates.each do |signing| %>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><%= link_to t('user_journey.signing_certificate') , view_certificate_path(signing.component_type, component.id, signing.id) %></td> 
            <td class="govuk-table__cell">
            <% if certificate_expiry(signing.x509) %>
              <div class="app-certificate-tag app-certificate-tag-expiring">
                <strong class="govuk-tag"><%= t('user_journey.expiry', days: certificate_expiry(signing.x509)) %></strong>
              </div>
            <% else %>
              <div class="app-certificate-tag">
                <strong class="govuk-tag"><%= t('user_journey.in_use') %></strong>
              </div>
            <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>