<% if components.present? %>
  <% @components.group_by(&:environment).sort.reverse.each do |environment, grouped_components|%>
    <h2 class="govuk-heading-m"><%= environment.capitalize %></h2>
    <% grouped_components.sort_by(&:days_left).each do |component| %>
      <table class="govuk-table" id="<%= component.id %>">
        <caption class="govuk-table__caption govuk-!-margin-bottom-1">
          <%= t("user_journey.component_long_name.#{component.type}") %>
            <span class="govuk-body">
              <%= t 'user_journey.used_by', services: component.services.map(&:name).join(', ') %>
            </span>
        </caption>
        <thead class="govuk-table__head govuk-visually-hidden">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col"><%= t 'user_journey.certificate' %></th>
            <th class="govuk-table__header" scope="col"><%= t 'user_journey.status' %></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body app-table__body--noheading">
          <% component.sorted_certificates.each do |cert| %>
              <% if cert.signing? %>
                <tr class="govuk-table__row" id="<%= cert.id %>">
                  <td class="govuk-table__cell">
                    <% if component.enabled_signing_certificates.length == 2 %>
                      <%= link_to t('user_journey.two_signing_certificate', type: t("user_journey.#{position(cert)}")) , view_certificate_path(cert.component_type, component.id, cert.id) %>
                    <% else %>
                      <%= link_to t('user_journey.signing_certificate'), view_certificate_path(cert.component_type, component.id, cert.id) %>
                    <% end %>
                  </td>
                  <td class="govuk-table__cell">
                    <div class="app-certificate-tag <%= 'app-certificate-tag-deploying' if cert.deploying? %><%= 'app-certificate-tag-expiring' if cert.expires_soon? %>">
                      <strong class="govuk-tag"><%= certificate_status(cert) %></strong>
                    </div>
                  </td>
                </tr>
              <%end%>
            <% if cert.encryption? %>
              <tr class="govuk-table__row" id="<%= cert.id %>">
                <td class="govuk-table__cell"><%= link_to t('user_journey.encryption_certificate'), view_certificate_path(component.component_type, component.id, cert.id) %></td>
                <td class="govuk-table__cell">
                  <div class="app-certificate-tag <%= 'app-certificate-tag-expiring' if cert.expires_soon? %> <%= 'app-certificate-tag-deploying' if cert.deploying? %>">
                    <strong class="govuk-tag"><%= certificate_status(cert) %></strong>
                  </div>
                </td>
              </tr>
            <%end %>
          <% end %>
          <% if component.encryption_certificate.nil? %>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><%= t 'user_journey.encryption_certificate' %></td>
              <td class="govuk-table__cell">
                <div class="app-certificate-tag">
                  <strong class="govuk-tag"><%= certificate_status(component.encryption_certificate) %></strong>
                </div>
              </td>
            </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
    <% end %>
<% end %>
