<% if components.present? %>
  <% components.reverse.each do |component| %>
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-!-margin-bottom-1">
        <%= component.component_type == COMPONENT_TYPE::MSA ? "Matching Service Adapter" : "Verify Service Provider" %>
      </caption>
      <thead class="govuk-table__head govuk-visually-hidden">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Certificate</th>
          <th class="govuk-table__header" scope="col">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body app-table__body--noheading">          
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><%= link_to "Encryption certificate", view_certificate_path(component.component_type, component.id, component.encryption_certificate_id) %></td> 
            <td class="govuk-table__cell">
              <div class="app-certificate-tag">
                <strong class="govuk-tag"><%= component.encryption_certificate_id.nil? ? "MISSING" : "IN USE" %></strong> <!-- TODO: implement the logic for expiry -->
              </div>
            </td>
          </tr>
          <% component.signing_certificates.each do |signing| %>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><%= link_to "Signing certificate" , polymorphic_url([component, signing]) %></td> 
            <td class="govuk-table__cell">
              <div class="app-certificate-tag app-certificate-tag-expiring">
                <strong class="govuk-tag"><%= format_date_time(signing.updated_at) %></strong> <!-- TODO: implement the logic for expiry -->
              </div>
            </td>
          </tr>
        <% end%>
      <% end %>
    </tbody>
  </table>
<% end %>