<%= page_title t('user_journey.before_you_start.title') %>

<%= render 'shared/certificate_details', certificate: @certificate %>

<h1 class="govuk-heading-l"><%= t 'user_journey.before_you_start.title' %></h1>

<% if @not_dual_running %>
  <p><%= t 'user_journey.before_you_start.not_support_dual_running' %></p>
  <p><%= t 'user_journey.before_you_start.update_advice' %></p>
  <% if @certificate.component.type == COMPONENT_TYPE::SP_SHORT && @certificate.encryption? %>
    <p><%= t 'user_journey.before_you_start.encryption.SP' %>
  <% else %>
    <p><%= t "user_journey.before_you_start.#{@certificate.component.type}", type: @certificate.usage %>
  <% end %>
  <ul class="govuk-list govuk-list--number">
    <li><%= t 'user_journey.before_you_start.must_create_key_and_certificate' %></li>
    <li><%= t 'user_journey.before_you_start.minimise_downtime' %></li>
  </ul>
<% else %>
  <p><%= t 'user_journey.before_you_start.rotate_certificate_read_steps' %></p>
  <p><%= t "user_journey.before_you_start.#{@certificate.component.type}", type: @certificate.usage %>
  <% if @certificate.signing? %>
    <%= t 'user_journey.before_you_start.create_signing_key_and_certificate' %>
  <% else %>
    <%= t 'user_journey.before_you_start.you_must' %>
    <ul class="govuk-list govuk-list--number">
      <li><%= t 'user_journey.before_you_start.create_key_and_certificate' %></li>
      <li><%= t('user_journey.before_you_start.create_encryption_key_and_certificate', component: @certificate.component.display) %></li>
      <li><%= t('user_journey.restart_component', component: @certificate.component.display) %></li>
    </ul>
  <% end %>
  </p>
<% end %>

<%= render 'shared/component_certificate_doc_links', certificate: @certificate %>

<% if @certificate.encryption? && @not_dual_running.nil? %>
  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive"><%= t 'layout.application.warning' %></span>
      <%= t('user_journey.before_you_start.must_update', component: @certificate.component.display)%>
    </strong>
  </div>
<% end %>

<% if @not_dual_running %>
  <%= link_to t('user_journey.continue'), upload_certificate_path(dual_running: @not_dual_running), class: "govuk-button", data: { module: "govuk-button" }, role:"button" %> 
<% else %>
  <%= link_to @certificate.encryption? ? t('user_journey.before_you_start.have_updated', component: @certificate.component.display) : t('user_journey.continue'), upload_certificate_path, class: "govuk-button", data: { module: "govuk-button" }, role:"button" %> 
<% end %>
