<%= render 'shared/certificate_details', certificate: @certificate %>

<h1 class="govuk-heading-l"><%= t 'user_journey.certificate.check_certificate_title' %></h1>
<p><%= t 'user_journey.certificate.contains_the_following' %></p>

<%= render 'shared/user_certificate_view', certificate: @new_certificate, full_details: false %>

<p><%= t 'user_journey.certificate.certificate_update_notice' %></p>

<%= form_for @new_certificate, url: confirmation_path, as: :certificate do |f| %>
  <%= f.hidden_field :new_certificate, value: @new_certificate_value %>
  <%= f.submit t('user_journey.certificate.use_certificate'), class: "govuk-button", data: { module: "govuk-button" } %>
  <%= link_to t('user_journey.certificate.upload_different_certificate'), upload_certificate_path, class: "secondary-link" %></td>
<% end %>
