<%= page_title t('user_journey.certificate.title_check') %>

<%= render 'shared/certificate_details', certificate: @certificate %>

<h1 class="govuk-heading-l"><%= t 'user_journey.certificate.check_certificate_title' %></h1>
<p><%= t 'user_journey.certificate.contains_the_following' %></p>

<%= render 'shared/user_certificate_view', certificate: @new_certificate, full_details: false %>

<% if @certificate.encryption? %>
  <% if @not_dual_running %>
    <p><%= t 'user_journey.certificate.will_replace_old_certificate' %></p>
    <p><%= t 'user_journey.certificate.sp_doesnt_support_dual_running' %></p>
    <p><%= t 'user_journey.certificate.restore_connection' %></p>
  <% else %>
    <p><%= t('user_journey.certificate.certificate_will_be_replaced', component: @certificate.component.display, certificate: @certificate.usage) %></p>
    <p><%= t('user_journey.certificate.encrypt_messages_for_your_service', component: @certificate.component.display, certificate: @certificate.usage) %></p>
    <p><%= t 'user_journey.certificate.how_long_it_takes' %></p>
  <% end %>
<% end %>

<% if @certificate.signing? %>
  <p><%= t 'user_journey.certificate.certificate_will_be_added' %></p>
  <p><%= t 'user_journey.certificate.signed_mesages_from_your_service' %></p>
  <p><%= t 'user_journey.certificate.how_long_it_takes' %></p>
<% end %>

<%= form_for @new_certificate, url: confirmation_path(dual_running: @not_dual_running), as: :certificate do |f| %>
  <%= f.hidden_field :new_certificate, value: @new_certificate_value %>
  <%= f.submit t('user_journey.certificate.use_certificate'), class: "govuk-button", data: { module: "govuk-button" } %>
  <%= link_to t('user_journey.certificate.upload_different_certificate'), upload_certificate_path, class: "secondary-link" %></td>
<% end %>
