<%= render 'shared/certificate_details', certificate: @certificate %>

<h1 class="govuk-heading-l"><%= t 'user_journey.adding_certificate_to_config' %></h1>
<p><%= t('user_journey.confirmation.what_to_expect', type: @certificate.usage ) %></p>
<h2 class="govuk-heading-m"><%= t 'user_journey.confirmation.next_steps' %></h2>
<ul class="govuk-list govuk-list--number">
  <% if @certificate.signing? && @certificate.component_type == COMPONENT_TYPE::MSA %>
    <li><%= t 'user_journey.confirmation.msa_add_new_key_and_certificate' %></li>
  <% end %>
  <li><%= t 'user_journey.confirmation.rotate_other_certificates' %></li>
  <li><%= t('user_journey.confirmation.received_email', usage: @certificate.usage, component: display_component(@certificate.component)) %></li>
  <% if @certificate.signing? && @certificate.component_type == COMPONENT_TYPE::MSA %>
    <li><%= t 'user_journey.confirmation.tell_us_to_stop_using_old_certificate' %></li>
  <% end %>
</ul>

<% if @certificate.signing? %>
  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive"><%= t 'layout.application.warning' %></span>
      <%= t('user_journey.confirmation.configuration_warning', component: display_component(@certificate.component), date: date_to_readable_long_format(@certificate.x509.not_after)) %>
    </strong>
  </div>
<% end %>

<%= render 'shared/component_certificate_doc_links', certificate: @certificate  %>

<%= link_to t('user_journey.confirmation.rotate_more'), root_path, class: "secondary-link secondary-link__confirmation" %> 