<%= page_title t('user_journey.confirmation.title') %>

<%= render 'shared/certificate_details', certificate: @certificate %>

<h1 class="govuk-heading-l"><%= t 'user_journey.adding_certificate_to_config' %></h1>

<% if @not_dual_running.nil? %>
  <p><%= t('user_journey.confirmation.what_to_expect', type: @certificate.usage ) %></p>
  <h2 class="govuk-heading-m"><%= t 'user_journey.confirmation.next_steps' %></h2>
<% end %>

<% if @not_dual_running %>
  <p><%= t 'user_journey.dual_running.not_support_dual_running' %></p>
  <p><%= t 'user_journey.dual_running.how_long_it_takes' %></p>
  <h2 class="govuk-heading-m"><%= t 'user_journey.confirmation.next_steps' %></h2>
  <h3 class="govuk-heading-s"><%= t 'user_journey.dual_running.if_you_already_added' %></h3>
  <ul class="govuk-list govuk-list--number">
    <li><%= t 'user_journey.dual_running.connection_break' %></li>
    <li><%= t 'user_journey.dual_running.apply_changes' %></li>
  </ul>
  <h3 class="govuk-heading-s"><%= t 'user_journey.dual_running.if_you_have_not_already_added' %></h3>
  <ul class="govuk-list govuk-list--number">
    <li><%= t 'user_journey.dual_running.add_new_signing_key_and_certificate' %></li>
    <li><%= t 'user_journey.dual_running.connection_break' %></li>
    <li><%= t 'user_journey.dual_running.apply_changes' %></li>
  </ul>
<% elsif @certificate.encryption? %>
  <ul class="govuk-list govuk-list--number">
    <li><%= t('user_journey.confirmation.received_email', usage: @certificate.usage, component: @certificate.component.display) %></li>
    <li><%= t('user_journey.restart_component', component: @certificate.component.display) %></li>
  </ul>
<% elsif @certificate.component_type == COMPONENT_TYPE::MSA %>
  <ul class="govuk-list govuk-list--number">
    <li><%= t 'user_journey.confirmation.msa_add_new_key_and_certificate' %></li>
    <li><%= t('user_journey.restart_component', component: @certificate.component.display) %></li>
    <li><%= t('user_journey.confirmation.received_email', usage: @certificate.usage, component: @certificate.component.display) %></li>
    <li><%= t('user_journey.restart_component', component: @certificate.component.display) %></li>
    <li><%= t 'user_journey.confirmation.tell_verify' %></li>
  </ul>
<% elsif @certificate.component_type == COMPONENT_TYPE::SP %>
  <ul class="govuk-list govuk-list--number">
    <li><%= t('user_journey.confirmation.received_email', usage: @certificate.usage, component: @certificate.component.display) %></li>
    <li><%= @certificate.component.display == COMPONENT_TYPE::SP_LONG ? t('user_journey.confirmation.apply_changes') : t('user_journey.restart_component', component: @certificate.component.display) %></li>
    <li><%= t 'user_journey.confirmation.tell_verify' %></li>
  </ul>
<% end %>

<%= render 'shared/component_certificate_doc_links', certificate: @certificate  %>

<% if @not_dual_running.nil? && @certificate.signing? %>
  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive"><%= t 'layout.application.warning' %></span>
      <%= t('user_journey.confirmation.configuration_warning', component: @certificate.component.display, date: date_to_readable_long_format(@certificate.x509.not_after)) %>
    </strong>
  </div>
<% end %>

<%= link_to t('user_journey.confirmation.rotate_more'), root_path, class: "secondary-link secondary-link__confirmation" %> 