<%= render 'shared/certificate_details', certificate: @existing_certificate %>

<h1 class="govuk-heading-l"><%= t 'user_journey.confirmation.title' %></h1>
<p><%= t 'user_journey.confirmation.what_to_expect' %></p>
<h2 class="govuk-heading-m"><%= t 'user_journey.confirmation.next_steps' %></h2>
<ul class="govuk-list govuk-list--number">
  <% if @existing_certificate.usage == "signing" && @existing_certificate.component_type == COMPONENT_TYPE::MSA %>
    <li><%= t 'user_journey.confirmation.msa_add_new_key_and_certificate' %></li>
  <% end %>
  <li><%= t 'user_journey.confirmation.rotate_other_certificates' %></li>
  <li><%= t('user_journey.confirmation.received_email', usage: @existing_certificate.usage, component: (@existing_certificate.component_type == COMPONENT_TYPE::MSA ? " MSA " : " VSP ")) %></li>
  <% if @existing_certificate.usage == "signing" && @existing_certificate.component_type == COMPONENT_TYPE::MSA %>
    <li><%= t 'user_journey.confirmation.tell_us_to_stop_using_old_certificate' %></li>
  <% end %>
</ul>
<p><%= t 'user_journey.before_you_start.find_out_more' %>
  <% if @existing_certificate.usage == "encryption" && @existing_certificate.component_type == COMPONENT_TYPE::MSA %>
    <a href="https://prototype-docs.cloudapps.digital/rotating-your-keys-and-certificates/msa-encryption/#rotate-your-msa-encryption-key-and-certificate">
    <%= t('user_journey.before_you_start.rotate_key_and_certificate', component: "MSA", certificate: "Encyrption") %></a>
  <% elsif @existing_certificate.usage == "encryption" && @existing_certificate.component_type == COMPONENT_TYPE::SP %>
    <a href="https://prototype-docs.cloudapps.digital/rotating-your-keys-and-certificates/vsp-encryption/#rotate-your-vsp-encryption-key-and-certificate">
    <%= t('user_journey.before_you_start.rotate_key_and_certificate', component: "VSP", certificate: "Encyrption") %></a>
  <% elsif @existing_certificate.usage == "signing" && @existing_certificate.component_type == COMPONENT_TYPE::MSA %>
    <a href="https://prototype-docs.cloudapps.digital/rotating-your-keys-and-certificates/msa-signing/#rotate-your-msa-signing-key-and-certificate">
    <%= t('user_journey.before_you_start.rotate_key_and_certificate', component: "MSA", certificate: "Signing") %></a>
  <% elsif @existing_certificate.usage == "signing" && @existing_certificate.component_type == COMPONENT_TYPE::SP %>
    <a href="https://prototype-docs.cloudapps.digital/rotating-your-keys-and-certificates/vsp-signing/#rotate-your-vsp-signing-key-and-certificate">
    <%= t('user_journey.before_you_start.rotate_key_and_certificate', component: "VSP", certificate: "Signing") %></a>
  <% end %>
  <%= t 'user_journey.before_you_start.in_documentation' %>
</p>
<%= link_to t('user_journey.confirmation.rotate_more'), user_journey_path, class: "secondary-link secondary-link__confirmation" %> 