<%= page_title t('user_journey.title') %>

<h1 class="govuk-heading-l"><%= t 'components.title' %></h1>

<% if @total_certificates_expiring_soon > 0 %>
  <p><%= t('user_journey.certificates_expiring', number: pluralize(@total_certificates_expiring_soon, 'certificate')) %></p>
<% end %>

<p><%= t('user_journey.maintain_connection_p1') %></p>
<p><%= t('user_journey.maintain_connection_p2') %></p>
<p>
  <%= t('user_journey.connection_broken_or_compromised_guidance_html', 
    instructions_link: link_to(t('user_journey.instructions_link'), t('user_journey.urls.rotation_documentation')),
    compromised_link: link_to(t('user_journey.compromised_link'), t('user_journey.urls.connection_broken_or_compromised'))
    ) %>
</p>

<%= render "shared/user_component_certificates", components: @components %>
