<%= page_title t('user_journey.certificate.title') %>

<%= render 'shared/certificate_details', certificate: @certificate %>

<div class="govuk-form-group">
  <%= form_for @upload, url: submit_path, as: :certificate, multipart: true do |f| %>
    <%= render 'shared/upload_errors' %>
    <fieldset class="govuk-fieldset" aria-describedby="upload-certificate-conditional-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          <%= t('user_journey.certificate.upload_new', certificate: @certificate.usage) %>
        </h1>
      </legend>
      <div class="govuk-radios govuk-radios--conditional govuk-!-margin-bottom-5" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="upload-certificate-conditional" name="upload-certificate"
            type="radio" value="file" data-aria-controls="conditional-upload-certificate-conditional"
            <%= checked('file') %>>
          <label class="govuk-label govuk-radios__label" for="upload-certificate-conditional">
            <%= t 'user_journey.certificate.upload_certificate_file_header' %>
          </label>
        </div>
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-upload-certificate-conditional">
          <div class="govuk-form-group">
            <%= f.file_field :cert_file, class: "govuk-file-upload #{error_class('file')}" %>
          </div>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="upload-certificate-conditional-2" name="upload-certificate"
            type="radio" value="string" data-aria-controls="conditional-upload-certificate-conditional-2"
            <%= checked('string') %>>
          <label class="govuk-label govuk-radios__label" for="upload-certificate-conditional-2">
            <%= t 'user_journey.certificate.paste_certificate' %>
          </label>
        </div>
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-upload-certificate-conditional-2">
          <div class="govuk-form-group">
            <%= f.text_area :value, class: "govuk-textarea #{error_class('string')}",
                value: "#{text_box_value}", rows: "20" %>
          </div>
        </div>
      </div>
    </fieldset>
    <%= f.submit t('user_journey.before_you_start.continue'), class: "govuk-button", data: { module: "govuk-button" } %>
  <% end %>
</div>
