<% if @certificate.signing? && @certificate.component.enabled_signing_certificates.length == 2 %>
  <div class="govuk-error-summary <%= primary_signing_certificate?(@certificate) ? "govuk-error-summary--grey" : "govuk-error-summary--orange" %>" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title"><%= primary_signing_certificate?(@certificate) ? t('user_journey.adding_certificate_to_config') : t('user_journey.wait_for_an_email') %></h2>
    <div class="govuk-error-summary__body">
      <% if primary_signing_certificate?(@certificate) %>
        <p><%= t 'user_journey.we_will_email_you' %></p>
        <p><%= t('user_journey.add_new_signing_key_warning', component: display_component(@certificate.component), date: date_to_readable_long_format(@certificate.x509.not_after)) %></p>
      <% elsif secondary_signing_certificate?(@certificate) %>
        <p><%= t 'user_journey.how_long_it_takes' %></p>
        <p><%= t('user_journey.delete_old_signing_key_and_cert', component: display_component(@certificate.component)) %></p>
      <% end %>
      <p><%= render 'shared/component_certificate_doc_links', certificate: @certificate %></p>
    </div>
  </div>
<% end %>

<h1 class="govuk-heading-l">
  <%= t("user_journey.certificate.component_name.#{display_component(@certificate.component)}") %>
  <%= t('user_journey.certificate.certificate', type: @certificate.usage ) %>
  <% if @certificate.signing? && @certificate.component.enabled_signing_certificates.length == 2 %>
    <%= t "user_journey.#{position(@certificate)}" %>
  <% end %>
</h1>

<%= render 'shared/user_certificate_view', certificate: @certificate, full_details: true %>

<% if @certificate.signing? %>
  <% if @certificate.component.enabled_signing_certificates.length < 2 %>
    <%= link_to t('user_journey.certificate.add_new'), before_you_start_path, class: "govuk-button", data: { module: "govuk-button" }, role:"button" %> 
  <% end %>
<% elsif @certificate.encryption? %>
  <%= link_to t('user_journey.certificate.replace'), before_you_start_path, class: "govuk-button", data: { module: "govuk-button" }, role:"button" %>
<% end %>