<h1 class="govuk-heading-l">
  <%= @certificate.component.component_type == COMPONENT_TYPE::MSA ? "Matching Service Adapter: " : "Verify Service Provider: " %>
  <%= @certificate.usage %> certificate
</h1>
<table class="govuk-table">
  <thead class="govuk-table__head govuk-visually-hidden">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Date</th>
      <th scope="col" class="govuk-table__header">Amount</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Used by</th>
      <td class="govuk-table__cell"><%= @certificate.x509.subject.to_a.find { |name, _, _| name == 'O' }[1] %></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Environment</th>
      <td class="govuk-table__cell"><%= @certificate.component.environment.capitalize %></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Valid from</th>
      <td class="govuk-table__cell"><%= @certificate.x509.not_before %></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Valid until</th>
      <td class="govuk-table__cell"><%= @certificate.x509.not_after %></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Common name</th>
      <td class="govuk-table__cell"><%= @certificate.x509.subject.to_a.find { |name, _, _| name == 'CN' }[1] %></td>
    </tr>
  </tbody>
</table>
<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      View full certificate
    </span>
  </summary>
  <div class="govuk-details__text govuk-details__code">
    <%= @certificate.x509 %>
  </div>
</details>
<%= link_to "Replace certificate", before_you_start_path, class: "govuk-button", data: { module: "govuk-button" }, role:"button" %>
