<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl"><%= t('mfa_enrolment.heading') %></h1>
    <p class="govuk-body"><%= t('mfa_enrolment.description') %></p>
      <div>
        <%= raw(@secret_code_svg) %>
      </div>
    <p class="govuk-body"> 
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            <%= t('mfa_enrolment.no_qr') %>
          </span>
        </summary>
        <div class="govuk-details__text">
          <%= t('mfa_enrolment.no_qr_instructions') %>
          <pre><%= @secret_code %></pre>
        </div>
      </details>
    </p>
    <div class="govuk-form-group">
      <h4 class="govuk-heading-s"><%= t('mfa_enrolment.heading_code_entry') %></h4>
      <%= f.label :totp_code, t('mfa_enrolment.code_entry'), class: "govuk-label" %>
      <%= f.text_field :totp_code, autofocus: true, autocomplete: 'off', class: "govuk-input govuk-input--width-10" %>
      <%= f.hidden_field :email, value: { email: false } %>
    </div>
  </div>
</div>


