<h2 class="govuk-heading-l"><%= t('sign_in.new_password_heading') %></h2>

<p class="govuk-body-l"><%= t('sign_in.new_password_description') %></p>

<div class="govuk-form-group">
  <%= f.label :new_password, class: "govuk-label" %>
  <%= f.password_field :new_password, autofocus: true, class: "govuk-input govuk-input--width-20" %>
  <%= f.hidden_field :email, value: { email: false } %>
</div>