<h2 class="govuk-heading-l"><%= t('login.heading') %></h2>

<div class="govuk-form-group">
  <%= f.label :email, class: "govuk-label" %>
  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "govuk-input" %>
</div>

<div class="govuk-form-group">
  <%= f.label :password, class: "govuk-label" %>
  <%= f.password_field :password, autocomplete: "current-password", class: "govuk-input" %>
</div> 