 <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <% if %w[SOFTWARE_TOKEN_MFA SMS_MFA].include? session[:challenge_name] %>
      <%= render "mfa_form", f:f %>
  <% elsif session[:challenge_name] == 'MFA_SETUP'%>
      <%= render "mfa_enrolment", f:f %>
  <% elsif session[:challenge_name] == "NEW_PASSWORD_REQUIRED" %>
      <%= render "new_password_required_form", f:f %>
  <% else %>
      <%= render "sign_in_form", f:f %>
  <% end %>
    <div class="actions">
      <%= f.submit "Log in", class: "govuk-button", data: { module: "govuk-button" } %>
    </div>
<% end %>
