 <%= page_title t('login.title') %>

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <% if %w[SOFTWARE_TOKEN_MFA SMS_MFA].include? session[:challenge_name] %>
            <%= render "mfa_form", f:f %>
        <% elsif session[:challenge_name] == 'MFA_SETUP'%>
            <%= render "mfa_enrolment", f:f %>
        <% elsif session[:challenge_name] == "NEW_PASSWORD_REQUIRED" %>
            <%= render "new_password_required_form", f:f %>
        <% else %>
            <%= render "sign_in_form", f:f %>
        <% end %>
            <div class="actions">
                <%= f.submit t('login.login'), class: "govuk-button govuk-!-margin-right-1", data: { module: "govuk-button" } %>
                <% unless session[:challenge_name].nil? %>
                    <%= link_to t('login.cancel'), cancel_path , class: "govuk-button govuk-button--secondary", data: { module: "govuk-button" } %>
                <% end %>
            </div>
        <% end %>
        <% if session[:challenge_name].nil? %>
            <p class="govuk-body">
                <%= link_to t('password.forgot_link'), forgot_password_path, class: 'govuk-link' %>
            </div>
        <% end %>
    </div>
</div>
