<%= page_title t('certificates.title') %>

<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
    <h1 class="govuk-fieldset__heading"><%= t 'certificates.upload' %></h1>
  </legend>

  <%= error_summary_for(@upload&.errors, :certificate) %>
  <% if @upload.data['component_type'] == COMPONENT_TYPE::MSA %>
    <%= render 'certificates/new/msa_cert' %>
  <% else %>
    <%= render 'certificates/new/sp_cert' %>
  <% end %>
</fieldset>
