<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
    <h1 class="govuk-fieldset__heading">Upload your certificate</h1>
  </legend>

  <% if @upload.errors? %>
    <%= render "error_messages" %>
  <% end %>
  <%= form_for @upload, url: component_certificates_path, as: :certificate do |f| %>
    <div class="govuk-form-group <%= 'govuk-form-group--error' if @upload.errors.key?(:usage) %>">
      <h3 class="govuk-heading-m">Certificate usage</h3>
      <% if @upload.errors? %>
        <%= render partial: "field_error_messages", locals: { fields: [:usage] } %>
      <% end %>
      <div class="govuk-radios govuk-radios--inline">
        <div class="govuk-radios__item ">
          <%= f.radio_button :usage, 'signing', class: 'govuk-radios__input'  %>
          <%= f.label :usage, 'Signing', class: 'govuk-label govuk-radios__label' %>
        </div>
        <div class="govuk-radios__item">
          <%= f.radio_button :usage, 'encryption', class: 'govuk-radios__input'  %>
          <%= f.label :usage, 'Encryption', class: 'govuk-label govuk-radios__label' %>
        </div>
      </div>
    </div>
    <div class="govuk-form-group <%= 'govuk-form-group--error' if @upload.errors.key?(:certificate) %>">
      <h3 class="govuk-heading-m">Certificate value</h3>
      <% if @upload.errors? %>
        <%= render partial: "field_error_messages", locals: { fields: [:value, :certificate] } %>
      <% end %>
      <%= f.text_area :value, placeholder: 'Paste your certificate here', class: "govuk-textarea#{@upload.errors.key?(:certificate) ? ' govuk-textarea--error' : ''}", rows: "6" %>
      <%= f.submit "Upload", class: "govuk-button" %>
    </div>
  <% end %>
</fieldset>
