<table class="govuk-table">
  <caption class="govuk-table__caption govuk-heading-m"><%= t('certificates.caption', heading: heading) %></caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header"><%= t 'certificates.header_id' %></th>
      <th class="govuk-table__header"><%= t 'certificates.header_usage' %></th>
      <th class="govuk-table__header"><%= t 'certificates.header_enabled' %></th>
      <th class="govuk-table__header"><%= t 'certificates.header_last_updated' %></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% certificates.each do |certificate| %>
      <tr class="govuk-table__row">
          <td class="govuk-table__cell"><%= certificate.id %></td>
          <td class="govuk-table__cell"><%= certificate.usage %></td>
          <td class="govuk-table__cell"><%= certificate.enabled %></td>
          <td class="govuk-table__cell"><%= format_date_time(certificate.updated_at) %></td>
          <td class="govuk-table__cell">
              <% if certificate.encryption? && heading.start_with?( t('certificates.previous') ) %>
                  <%= form_for [@component, certificate],
                    url: polymorphic_url(
                      [:replace, @component, certificate],
                      component: @component,
                      certificate: certificate
                    ) do |f| %>
                      <%= f.submit t('certificates.replace_button'), class: 'govuk-button', data: { module: "govuk-button" } %>
                  <% end %>
              <% end %>
          </td>
      </tr>
    <%end %>
  </tbody>
</table>
