<h1 class="govuk-heading-l"><%= t 'password.change_password_heading' %></h1>

<%= form_for @password_form, url: profile_change_password_path do |f| %>
  <fieldset class="govuk-fieldset" aria-describedby="changed-password-hint">
    <span id="changed-password-hint" class="govuk-hint">
      <%= t 'password.change_password_legend' %>
    </span>
    <div class="govuk-form-group">
      <%= f.label :old_password, t('password.current_password_lbl'), class: "govuk-label" %>
      <%= f.password_field :old_password, class: "govuk-input govuk-input--width-20" %>
    </div>
    <div class="govuk-form-group">
      <%= f.label :password, t('password.new_password_lbl'), class: "govuk-label" %>
      <%= f.password_field :password, class: "govuk-input govuk-input--width-20" %>
    </div>
    <div class="govuk-form-group">
      <%= f.label :password_confirmation, t('password.confirm_password_lbl'), class: "govuk-label" %>
      <%= f.password_field :password_confirmation, class: "govuk-input govuk-input--width-20" %>
    </div>
  </fieldset>
  <%= f.submit t('password.change_password_btn'), class: "govuk-button", data: { module: "govuk-button" } %>
<% end %>