<h1  class="govuk-heading-l"><%= t 'profile.title' %></h1>

<div>
  <h2  class="govuk-heading-m"><%= t 'profile.welcome' %> <%= @user.full_name %></h2>

  <h3 class="govuk-heading-m"><%= t 'profile.heading' %></h3>
  <p class="govuk-body"><%= t 'profile.id' %><%= @user.user_id %></p>
  <p class="govuk-body"><%= t 'profile.given_name' %><%= @user.given_name %></p>
  <p class="govuk-body"><%= t 'profile.family_name' %><%= @user.family_name %></p>
  <p class="govuk-body"><%= t 'profile.roles' %><%= @user.roles %></p>
  <p class="govuk-body"><%= t 'profile.email' %><%= @user.email %></p>
  <p class="govuk-body"><%= t 'profile.phone' %><%= @user.phone_number %></p>
  <a href="/users/sign_out" data-method="delete" class="govuk-button", data-module="govuk-button"><%= t 'profile.logout' %></a>
</div>
