<%= page_title t('profile.title') %>

<%= link_to t('common.back'), root_path, class: 'govuk-back-link' %>

<h1 class="govuk-heading-l"><%= t 'profile.title' %></h1>

<table class="govuk-table">  
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-visually-hidden" scope="col"><%= t 'profile.item' %></th>
      <th class="govuk-table__header govuk-visually-hidden" scope="col"><%= t 'profile.details' %></th>
      <th class="govuk-table__header govuk-visually-hidden" scope="col"><%= t 'profile.action' %></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><%= t 'profile.name' %></td>
      <td class="govuk-table__cell"><%= @user.full_name %></td>
      <td class="govuk-table__cell"><%= link_to t('profile.change'), update_user_name_path, class: 'govuk-link' %></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><%= t 'profile.email' %></td>
      <td class="govuk-table__cell email-wrapper"><%= @user.email %></td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><%= t 'profile.password' %></td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell"><%= link_to t('profile.change'), profile_change_password_path, class: 'govuk-link' %></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><%= t 'profile.mfa' %></td>
      <td class="govuk-table__cell">
        <% if @mfa_status ==  'SOFTWARE_TOKEN_MFA'%>
          <%= t 'profile.software_token' %>
        <% end %>
      </td>
      <td class="govuk-table__cell">
        <% if @mfa_status ==  'SOFTWARE_TOKEN_MFA' %>
          <%= link_to t('profile.change'), profile_update_mfa_path, class: 'govuk-link' %>
        <% else %>
          <%= link_to t('profile.set_up'), setup_mfa_path, class: 'govuk-link' %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<% if Rails.env.development? %>
  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="profile-heading-permissions">
            <%= t 'profile.permissions' %>
          </span>
        </h2>
      </div>
      <div id="profile-content-permissions" class="govuk-accordion__section-content" aria-labelledby="profile-heading-permissions">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <div class="govuk-checkboxes">
              <% @user.permissions.to_hash.each do |key, value| -%>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="<% key %>" name="<% key %>" type="checkbox" value="<% key %>"
                  <% if value %>checked<% end %> disabled>
                  <label class="govuk-label govuk-checkboxes__label" for="key">
                    <%= key.titlecase %>
                  </label>
                </div>
              <% end %>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
    <% if @cognito_available %>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="profile-heading-switch-auth">
              <%= t 'profile.client_switch_heading' %>
            </span>
            <strong class="govuk-tag">
              <%= t 'profile.dev' %>
            </strong>
          </h2>
        </div>
        <div id="profile-content-switch-auth" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <div class="govuk-form-group">
            <%= form_for:client_switch, url: profile_switch_client_path do |f| %>
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
              <span id="changed-name-hint" class="govuk-hint">
                <%= t 'profile.client_switch_legend' %>
              </span>
              <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="cognito-radio" name="client" type="radio" value="cognito" <% if !@using_stub %> checked<% end %>>
                  <label class="govuk-label govuk-radios__label" for="cognito-radio">
                    <%= t 'profile.cognito_client' %>
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="stub-radio" name="client" type="radio" value="stub" <% if @using_stub %> checked<% end %>>
                  <label class="govuk-label govuk-radios__label" for="stub-radio">
                    <%= t 'profile.stub_client' %>
                  </label>
                </div>
              </div>
            </fieldset>
            <%= f.submit "Switch Client", class: "govuk-button govuk-!-margin-top-6", data: { module: "govuk-button" } %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <% if @using_stub %>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="profile-heading-assume-roles">
              <%= t 'profile.assume_roles_heading' %>
            </span>
            <strong class="govuk-tag">
              <%= t 'profile.dev' %>
            </strong>
          </h2>
        </div>
        <div id="profile-content-assume-roles" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <%= form_for:assume_roles, url: profile_update_role_path do |f| %>
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="assume-roles-hint">
                <span id="assume-roles-hint" class="govuk-hint">
                  <%= t 'profile.assume_roles_legend' %>
                </span>
                <div class="govuk-checkboxes">
                  <% ROLE.constants.each do |role| -%>
                  <% role_string = "ROLE::#{role}".constantize %>
                  <% is_checked = @user.roles.split(',').include?(role_string) %>
                    <div class="govuk-checkboxes__item">
                      <%= f.check_box 'role_selection', { checked: is_checked, multiple: true, class: 'govuk-checkboxes__input' }, role_string, nil  %>
                      <label class="govuk-label govuk-checkboxes__label" for="assume_roles_role_selection_<%= role_string %>">
                        <% if role.to_s == 'GDS' %><%= role %><% else %><%= role.to_s.titlecase %><% end %>
                      </label>
                    </div>
                  <% end %>
                </div>
              </fieldset>
              <%= f.submit "Update Roles and Logout", class: "govuk-button govuk-!-margin-top-6", data: { module: "govuk-button" } %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>