<% if Rails.env.development? %>
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        development
      </strong>
      <span class="govuk-phase-banner__text">
        <%= t 'profile.banner' %>
      </span>
    </p>
  </div>


  <p>&nbsp;</p>
<%end%>
<h1  class="govuk-heading-l"><%= t 'profile.title' %></h1>

<div>
  <h2  class="govuk-heading-m"><%= t 'profile.welcome' %> <%= @user.full_name %></h2>

<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          <%= t 'profile.heading' %>
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <p class="govuk-body"><span class="govuk-body govuk-!-font-weight-bold"><%= t 'profile.id' %></span><%= @user.user_id %></p>
      <p class="govuk-body"><span class="govuk-body govuk-!-font-weight-bold"><%= t 'profile.given_name' %></span><%= @user.given_name %></p>
      <p class="govuk-body"><span class="govuk-body govuk-!-font-weight-bold"><%= t 'profile.family_name' %></span><%= @user.family_name %></p>
      <p class="govuk-body"><span class="govuk-body govuk-!-font-weight-bold"><%= t 'profile.email' %></span><%= @user.email %></p>
      <p class="govuk-body"><span class="govuk-body govuk-!-font-weight-bold"><%= t 'profile.phone' %></span><%= @user.phone_number %></p>
      <p class="govuk-body"><span class="govuk-body govuk-!-font-weight-bold"><%= t 'profile.roles' %></span><%= @user.roles %></p>
      <p class="govuk-body"><span class="govuk-body govuk-!-font-weight-bold"><%= t 'profile.team' %></span><%= @user.team %></p>
      <% if @user.permissions.team_management %>
        <p class="govuk-body"><span class="govuk-body govuk-!-font-weight-bold"><%= t 'profile.cognito_groups' %></span><%= @user.cognito_groups.join(', ') unless @user.team.nil? %></p>
      <% end %>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          <%= t 'profile.permissions_heading' %>
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <div class="govuk-checkboxes">
            <% @user.permissions.to_hash.each do |key, value| -%>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="<% key %>" name="<% key %>" type="checkbox" value="<% key %>"
                <% if value %>checked<% end %> disabled>
                <label class="govuk-label govuk-checkboxes__label" for="key">
                  <%= key.titlecase %>
                </label>
              </div>
            <% end %>
            <% if @breakerofchains %>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="breaker_of_chains" name="breaker_of_chains" type="checkbox" value="breaker_of_chains"
                checked disabled>
                <label class="govuk-label govuk-checkboxes__label" for="breaker_of_chains">
                  Breaker of Chains
                </label>
              </div>
            <% end %>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          <%= t 'profile.change_password_heading' %>
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <div class="govuk-form-group">
        <%= form_for:password_change, url: profile_change_password_path do |f| %>
        <fieldset class="govuk-fieldset" aria-describedby="changed-password-hint">
          <span id="changed-password-hint" class="govuk-hint">
            <%= t 'profile.client_switch_legend' %>
          </span>
          <div class="govuk-form-group">
            <%= f.label :old_password, class: "govuk-label" %>
            <%= f.password_field :old_password, class: "govuk-input govuk-input--width-20" %>
          </div>
          <div class="govuk-form-group">
            <%= f.label :new_password1, class: "govuk-label" %>
            <%= f.password_field :new_password1, class: "govuk-input govuk-input--width-20" %>
          </div>
          <div class="govuk-form-group">
            <%= f.label :new_password2, class: "govuk-label" %>
            <%= f.password_field :new_password2, class: "govuk-input govuk-input--width-20" %>
          </div>
        </fieldset>
        <%= f.submit "Change Password", class: "govuk-button govuk-!-margin-top-6", data: { module: "govuk-button" } %>
        <% end %>
      </div>
    </div>
  </div>
  <% if Rails.env.development? %>
    <% if @cognito_available %>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
              <%= t 'profile.client_switch_heading' %>
            </span>
            <strong class="govuk-tag">
              dev
            </strong>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <div class="govuk-form-group">
            <%= form_for:client_switch, url: profile_switch_client_path do |f| %>
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
              <span id="changed-name-hint" class="govuk-hint">
                <%= t 'profile.client_switch_legend' %>
              </span>
              <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="cognito-radio" name="client" type="radio" value="cognito" <% if !@using_stub %> checked<% end %>>
                  <label class="govuk-label govuk-radios__label" for="cognito-radio">
                    Cognito Client
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="stub-radio" name="client" type="radio" value="stub" <% if @using_stub %> checked<% end %>>
                  <label class="govuk-label govuk-radios__label" for="stub-radio">
                    Stub Client
                  </label>
                </div>
              </div>
            </fieldset>
            <%= f.submit "Switch Client", class: "govuk-button govuk-!-margin-top-6", data: { module: "govuk-button" } %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <% if @using_stub %>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
              <%= t 'profile.assume_roles_heading' %>
            </span>
            <strong class="govuk-tag">
              dev
            </strong>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
           <%= form_for:assume_roles, url: profile_update_role_path do |f| %>
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="assume-roles-hint">
                <span id="assume-roles-hint" class="govuk-hint">
                  <%= t 'profile.assume_roles_legend' %>
                </span>
                <div class="govuk-checkboxes">
                  
                  <% ROLE.constants.each do |role| -%>
                  <% role_string = "ROLE::#{role}".constantize %>
                  <% is_checked = @user.roles.split(',').include?(role_string) %>
                    <div class="govuk-checkboxes__item">
                      <%= f.check_box 'role_selection', { :checked => is_checked,:multiple => true, :class => "govuk-checkboxes__input" }, role_string, nil  %>
                      
                      <label class="govuk-label govuk-checkboxes__label" for="assume_roles_role_selection_<%= role_string %>">
                        <% if role.to_s == 'GDS' %><%= role %><% else %><%= role.to_s.titlecase %><% end %>
                      </label>
                    </div>
                  <% end %>
                </div>
              </fieldset>
              <%= f.submit "Update Roles and Logout", class: "govuk-button govuk-!-margin-top-6", data: { module: "govuk-button" } %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>