<% content_for :banner do %>
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <span class="govuk-phase-banner__text govuk-heading-s">
        <% if @team_name == TEAMS::GDS %>
          <%= @team_name.upcase %>
            <strong class="govuk-tag">
              <%= t 'users.admin_team' %>
            </strong>
        <% else %>
          <%= @team_name %>
        <% end %>
      </span>
    </p>
  </div>
<% end %>
<% content_for :main do %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <div class="side-navigation">
        <ul class="govuk-list">
          <% unless idp_team_user? %>
            <li class="<%= 'active' if 'user_journey'.include?(params[:controller])  %>">
              <%= link_to t('components.title'), root_path, class: "govuk-link--no-visited-state" %>
            </li>
          <% end %>
          <% if policy(UsersController).index? %>
            <li class="<%= 'active' if 'users'.include?(params[:controller]) %>">
              <%= link_to t('layout.main_layout.team_members'), users_path, class: "govuk-link--no-visited-state" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="govuk-grid-column-three-quarters">
      <%= yield %>
    </div>
  </div>
<% end %>
<%= render template: 'layouts/application' %>
