<% content_for :main do %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
    <div class="side-navigation">
      <ul class="govuk-list">
        <li class="<%= 'active' if current_page?(root_path) %>">
          <a href="/" class="govuk-link--no-visited-state"><%= t 'components.title' %></a>
        </li>
        <li class="<%= 'active' if current_page?("") %>"> <!-- path to be declared when created -->
          <a href="#" class="govuk-link--no-visited-state"><%= t 'layout.main_layout.team_members' %></a>
        </li>
      </ul>
    </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <%= yield %>
    </div>
  </div>
<% end %>
<%= render file: 'layouts/application' %>